---
layout: default
---

<div>

    {{ content }}

    <div>&nbsp;</div>

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
            <div class="post-meta" style="font-size: 22px">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    <h2 title="{{ post.title }}">
                        {{ post.title | escape }}
                    </h2>
                </a>
                <!--<div class="post-date">{{ post.date | date: date_format }}</div>-->
            </div>
            <div class="post" style="text-align: justify; margin-top: 1px">
                {{ post.excerpt | truncatewords: 3}}
            </div>
        </li>
        <!--<hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>-->
        {% endfor %}
    </ul>

</div>
