---
layout: default
---

<div>

  {{ content }}

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {{ post.excerpt | markdownify | truncatewords: 30 }}

        <!--<div class="post-meta">-->
          <!--<a class="post-link" href="{{ post.url | relative_url }}">-->
            <!--<h2 class="post-title">{{ post.title | escape }}</h2>-->
          <!--</a>-->
          <!--<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>-->
        <!--</div>-->
        <!--<div class="post">-->
          <!--{%- if site.show_excerpts -%}-->
          <!--{{ post.excerpt }}-->
          <!--{%- endif -%}-->
        <!--</div>-->

      </li>
    {% endfor %}
  </ul>

</div>
